<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="HospitalConnectionString" connectionString="Data Source=tcp:s10.winhost.com;Initial Catalog=DB_69755_aspclass;User ID=DB_69755_aspclass_user;Password=kini7deal;Integrated Security=False;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <pages theme="Theme"></pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <siteMap defaultProvider="publicSite">
      <providers>
        <add name="publicSite" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" />
        <add name="adminSite" type="System.Web.XmlSiteMapProvider" siteMapFile="~/administrative/Admin.sitemap" />
      </providers>
    </siteMap>
  </system.web>

</configuration>