@charset "utf-8";

#home_slideshow {
    width: 700px;
    height: 260px;
    border: 1px solid #808080;
}

#home_welcome {
    width: 700px;
    height: auto;
    margin: 32px 0px 0px 0px;
    color: black;
}


