/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
	CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}	
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* - - - - - - - - - end reset - - - - - - - - - */
@charset "utf-8";

body {
    font-family: 'Carme', sans-serif;
}

#container {
    margin: auto;
    width: 1124px;
    height: auto;
}

h1 {
    padding: 10px;
    letter-spacing: 3px;
    font-family: 'Carme', sans-serif;
    font-size: 35px;
}

h2 {
    padding: 10px;
    letter-spacing: 3px;
    font-family: 'Carme', sans-serif;
    font-size: 30px;
}

h3 {
    padding: 10px;
    letter-spacing: 0px;
    line-height: 30px;
    font-family: 'Carme', sans-serif;
    font-size: 25px;
}

h4 {
    padding: 5px;
    letter-spacing: 0px;
    line-height: 30px;
    font-family: 'Carme', sans-serif;
    font-size: 20px;
}

h5 {
    padding: 5px;
    letter-spacing: 0px;
    line-height: 25px;
    font-family: 'Carme', sans-serif;
    font-size: 15px;
}

h6 {
    padding: 5px;
    letter-spacing: 0px;
    line-height: 5px;
    font-family: 'Carme', sans-serif;
    font-size: 12px;
}

header {
    width: 1104px;
    height: 105px;
    margin: 0px 10px 0px 10px;
    border-bottom: 1px solid #F2ECE8;
}

#donationLink {
    margin: 10px 0 10px 0;
    width: auto;
    height: auto;
    float: right;
    /*clear: both;*/
}
 
nav {
    width: auto;
    height: 49px;
    margin: 0 5px 0 5px;
    
}

#logo {
    width: auto;
    height: auto;
    margin: 10px 0 10px 10px;
}

#menu {
    font-size: 15px;
    font-family: 'Vidaloka', serif;
    margin: 4px 0px 0px 17px;
    float:right;  
}

aside {
    width: 270px;
    height: auto;
    margin: 7px 5px 5px 10px;
    float: left;
}

#googleSearch {
    float: left;
}

#btn_googleSearch{
    margin: 2px 0px 0px 0px;
    float: right;
}

section {
    margin: 46px 10px 0px 10px;
    width: 800px;
    height: auto;
    float: right;
}

footer {
    margin: 20px 0 0 0;
    width: 1124px;
    height: 165px;
    float: left;
    clear: both;
}


#requiredNav {
    margin: 5px 0px 0px 0px;
    width: 1124px;
    height: 140px;
    background-color: #82C2A9;
    float: left;
    clear: both;
}

#requiredNav_left {
    margin: 42px 26px 0px 110px;
    width: 430px;
    height: 79px;
    color: white;
    float: left;
}

#requiredNav_right {
    margin: 42px 128px 0px 0px;
    width: 430px;
    height: 79px;
    line-height: 20px;
    font-size: 12px;
    color: #61625B;
    float: left;
}

#studentTag {
    margin: 10px 160px;
    color: #ff0000;
    clear: both;
}

.donatinBtn {
    margin: 5px;
    padding: 5px;
    font-family: 'Carme', sans-serif;
    font-size: 18px;
    background-color: #82C2A9;
    color: #FFFFFF;
    text-decoration: none;
    float: right;
}

.img_logo {
    float: left;
    margin-top: 20px;
}

.img_quickLink {
    float: left;
    margin: 2px 0px 0px 5px;
}

.lbl_newsEvents {
    padding: 8px 5px;
    border-bottom: 1px solid #F2ECE8;
    clear: both;
}

.lbl_quickLink {
    padding: 0px 0px 15px 5px;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #96C2AA;
    font-size: 18px;
}

.newsEvents {
    width: 260px;
    height: 370px;
    margin: 5px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 15px;
}

.q_link1 {
    padding: 8px 2px;
    border-bottom: 1px solid #F2ECE8;
    clear: both;
}

.q_link2 {
    padding: 6px 10px;
}

.bottomNav a {
    margin: 0px 10px 0px 35px;
    text-decoration: none;
    color: #5B514D;
}

.bottomNav a:hover {
    margin: 0px 10px 0px 35px;
    text-decoration: none;
    color: white;
}

/*****************/
/*Styles used by Ben for accordion news*/
/*****************/
#news_accordion {
width: 260px;
height: 350px;
}
    #news_accordion a {
        color: blue;
        text-decoration: none;
        font-size:80%;
    }
.ui-accordion .ui-accordion-content {
    font-size:80%;
}
.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
    font-weight: bold;

}
.ui-accordion .ui-accordion-header-active {
background: #96C2AA;
color:white;
}
.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-noicons {
	padding-left: .7em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
	padding: .2em .2em;
	border-top: 0;
	overflow: auto;
}


